{
  "env": {
    "node": true,
    "es2024": true,
    "jest": true,
  },
  "globals": {
    "rule": true,
    "testRule": true,
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "eslint-config-prettier",
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["", "./public"], // <-- this line
        ],
        "extensions": [".js"],
      },
      "node": {
        "paths": ["src"],
        "extensions": [".js"],
      },
    },
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
  },
  "plugins": ["prettier"],
  "rules": {
    "comma-dangle": [
      2,
      {
        "arrays": "ignore",
        "objects": "ignore",
        "imports": "ignore",
        "exports": "ignore",
        "functions": "ignore",
      },
    ],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5",
      },
    ],
    "max-len": [
      "error",
      {
        "tabWidth": 2,
        "code": 140,
        "comments": 140,
        "ignoreComments": false,
        "ignoreTrailingComments": false,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": false,
      },
    ],
    "no-param-reassign": [
      2,
      {
        "props": false,
      },
    ],
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
    "prefer-rest-params": 0,
    "import/no-extraneous-dependencies": [2, { "devDependencies": true }],
    "import/order": 0,
    // jsx-a11y/no-autofocus is only really a problem if scrolling content out of the current viewport on load
    "jsx-a11y/no-autofocus": 0,
  },
}
