/**
 * Valid: Using Carbon tokens with CSS logical properties
 */

.foo {
  /* Logical inset properties */
  inset: var(--cds-spacing-05);
  inset-block: var(--cds-spacing-03);
  inset-block-start: var(--cds-spacing-02);
  inset-block-end: var(--cds-spacing-04);
  inset-inline: var(--cds-spacing-05);
  inset-inline-start: var(--cds-spacing-01);
  inset-inline-end: var(--cds-spacing-06);
}

.bar {
  /* Logical margin properties */
  margin-block: var(--cds-spacing-05);
  margin-block-start: var(--cds-spacing-03);
  margin-block-end: var(--cds-spacing-04);
  margin-inline: var(--cds-spacing-02);
  margin-inline-start: var(--cds-spacing-01);
  margin-inline-end: var(--cds-spacing-06);
}

.baz {
  /* Logical padding properties */
  padding-block: var(--cds-spacing-05);
  padding-block-start: var(--cds-spacing-03);
  padding-block-end: var(--cds-spacing-04);
  padding-inline: var(--cds-spacing-02);
  padding-inline-start: var(--cds-spacing-01);
  padding-inline-end: var(--cds-spacing-06);
}
