/**
 * SKIP: Carbon type scale functions not yet supported in V5
 * V4 supported: type-scale() function
 * V5 status: Not implemented - would need custom function parsing
 */

.foo {
  font-size: type-scale(1);
  line-height: type-scale(2);
}
